//default cleaner
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//main container for bgc sizes and children's location
.container {
  background: rgb(221,214,243);
  background: linear-gradient(270deg, rgba(221,214,243,1) 0%, rgba(250,172,168,1) 100%);min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
//first block, header Logo
  .header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .headerTitle {
      color: white;
      font-size: 2.5em;
      text-transform: uppercase;
      font-weight: bold;

    }
  }
//second block, content and detailed view
  .content{
    width: 100%;
    height: 90vh;
    margin-top: 20px;
    display: flex;

  }
}
